$pink-btn: #eb145a;
$primary-txt: #000000;
$secondary-txt: #030229;
$pink-text: #d11a2a;
$bg-layout: #efefef;
$active: #605bff;
$orange-text: #f29339;
$blur-pink: #fcdce6;
$mobile-width: 767px;
$tablet-width: 1200px;
$header-height: 4rem;
$footer-height: 6.5rem;
$notice-box: #ff949d;
$item-per-page: 4;
$basic-bg: #fff;
$danger: #dc3545;
$messageBg: #fef3f7;
