.ant-layout-header {
  padding: 0;
  background: white;
}
.ant-menu-light.ant-menu-horizontal {
  .ant-menu-item-selected {
    .ant-menu-title-content {
      color: #f3c309;
    }
  }
  .ant-menu-title-content {
    font-weight: 700;
    color: white;
    font-size: 20px;
  }
  .ant-menu-item::after {
    display: none;
  }
  .ant-menu-item-selected::after {
    display: none;
  }
  .ant-menu-item:hover::after {
    display: none;
  }
}

.ant-upload-hint {
  padding: 0 5px;
}

.ag-pinned-right-cols-container {
  margin: 0 !important;
}

.ant-btn {
  border: 0 !important;
}

.ant-image-preview-footer {
  .ant-image-preview-operations {
    .ant-image-preview-operations-operation-flipY,
    .ant-image-preview-operations-operation-flipX,
    .ant-image-preview-operations-operation-rotateLeft,
    .ant-image-preview-operations-operation-rotateRight {
      display: none;
    }
  }
}

.ant-select-selection-overflow {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
